html {
	background-color: #f3f3f3;
}

BODY {
	margin: 0;
	/* Убираем отступы в браузере */
	padding: 0;
	/* Убираем внутрение отступы */
}

.menu {
	height: auto;
	/* Высота */
}

.menu ul {
	margin: 40px 80px;
	/* отступы меню */
	display: flex;
	column-gap: 32px;
	list-style: none;
	padding: 0;
}

.menu a {
	text-decoration: none;
	/* Убирает подчеркивание ссылок в меню */
}

.menu ul li {
	font-family: 'Catamaran';
	/* Шрифт */
	font-style: normal;
	/* Курсив, не курсив и тд и тп */
	font-weight: 600;
	/* Толщина */
	font-size: 24px;
	/* Размер шрифта */
	line-height: 39px;
	/* Величина пространства между строками */
	text-transform: uppercase;
	/* Делает текст большими буквами */
}

.about {
	color: #000000;
}

.price {

	color: #000000;
}

.kontakt {
	color: #000000;
}

.home {
	color: #000000;
}

.top {
	justify-content: center;
	margin-top: 185px;
	margin-bottom: 185px;
}

.tekst {
	font-family: 'Montserrat';
	/* Шрифт */
	font-style: normal;
	/* Курсив, не курсив и тд и тп */
	font-size: 20px;
	/* Размер шрифта */
	line-height: 28px;
	/* Величина пространства между строками */
	text-transform: none;
	/* Делает текст большими буквами */
	width: 50%;
}

.Audi {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	max-width: 740px;
	height: auto;
	object-fit: contain;
	margin-left: auto;
	z-index: -1;
}

.countries {
	text-align: center;
	margin-top: 13%;
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 900;
	font-size: 35px;
	line-height: 46px;
}

.map {
	text-align: center;
}

.map-image {
	text-align: center;
	max-width: 750px;
}

.slider {
	display: flex;
	height: auto;
	margin: auto;
	overflow: hidden;
	align-items: center;
}

.slider:before {
	position: absolute;
	z-index: 1;
	left: 0;
	/* content: **; */
	width: 23.958%;
	height: 110px;
	background: linear-gradient(-90deg, hsla(0, 0%, 96.9%, 0), #f7f7f7);
}

.slider:after {
	position: absolute;
	right: 0;
	width: 23.958%;
	height: 110px;
	background: linear-gradient(90deg hsla(0, 0, 96.6%, 0),
			hsla(0, 0%, 96.6%, 0.99) 99%);
}

.slider .slide_track {
	display: flex;
	animation: scroll 35s linear infinite;
	-webkit-animation: scroll 35s linear infinite;
	width: calc(240px*10);

}